# Fundamentos de python

### Aspectos básicos
* Variables
* Operadores matemáticos básicos
* Estructuras de control
    - Condicionales
    - Ciclos
    - Funciones
* Operadores de Comparación
* Operaciones Lógicos
* Estructuras de datos
    - Cademas de caracteres
    - Enteros
    - Flotantes
    - Listas
    - Diccionarios
    - Tuplas

In [2]:
print("hola")

hola

In [3]:
# Variables
name = "Josefino"

In [4]:
last_name = "Primero"

In [5]:
last_name

'Primero'

In [6]:
base = 25

In [7]:
# operadores matematicos
# suma
number1 = 10
number2 = 20
suma1 = number1 + number2
suma1

30

In [8]:
# resta
resta = number2 - number1
resta

10

In [9]:
# multiplicacion
multi = number1 * number2
div = number1 / number2

In [10]:
multi
div

0.5

In [11]:
print(multi)
print(div)

200
0.5

In [12]:
print(f"El resultado de la multiplicacion es: {multi}")
print(f"El resultado de la division es: {div}")
print(f"El resultado de la suma es: {suma1}")
print(f"El resultado de la resta es: {resta}")

El resultado de la multiplicacion es: 200
El resultado de la division es: 0.5
El resultado de la suma es: 30
El resultado de la resta es: 10

In [13]:
resta2 = 45 - 54

In [14]:
type(div)

float

In [15]:
type(resta2)

int

In [16]:
type(name)

str

## Condicionales .

In [17]:
print("confirmar nueva rama" )

confirmar nueva rama

In [ ]:
# Condicionales Simples
## If condicion: 
##    accion

In [1]:
# Operadores de comparación 
# == igual
# != diferente
# > mayor que
# < menor que
# >= mayor igual que
# <= menor igual que

In [6]:
# comparacion de dos numeros
number1 = 10
number2 = 10

# condicionales anidados
if (number1 == number2): 
    #if (number1 != number2):
        print("el numero 1 es igual que el numero 2")
        #print("Los numeros son diferentes")

el numero 1 es igual que el numero 2

In [7]:
# comparacion de dos numeros
number1 = 10
number2 = 20

# condicionales anidados
if (number1 < number2) and (number1 != number2):
    print("el numero 1 es menor que el numero 2")
    print("Los numeros son diferentes")

el numero 1 es menor que el numero 2
Los numeros son diferentes

In [9]:
# comparacion de dos numeros
number1 = 10
number2 = 20

# condicionales anidados
if (number1 < number2):
        if (number1 != number2):
            print("el numero 1 es menor que el numero 2")
            print("Los Numeros son diferentes")

el numero 1 es menor que el numero 2
Los Numeros son diferentes

In [12]:
# comparacion de dos numeros
number1 = 20
number2 = 20

# condicionales anidados
if (number1 < number2):
        print("el numero 1 es menor que el numero 2")

        if (number1 < 10):
            print("Numero 1 mayor que 10")
        else:
            print("el numero 1 no es menor que 10")
            #print("Numero 1 menor que 10")
else:
    print("el numero 1 no es menor que el numero 2")

el numero 1 no es menor que el numero 2

In [2]:
# condicionales encadenados
# comparacion dias de la semana hasta ubicar el lunes   
day = "Sabado"
if day == "Lunes":
    print("Hoy es lunes trabajo y estudio")
elif day == "Martes":
    print("Hoy es martes y trabajo duro")
elif day == "Miercoles":
    print("Hoy es miercoles y estudio")
elif day == "Jueves":
    print("Hoy es jueves y estudio")
elif day == "Viernes":
    print("Hoy es viernes y estudio")   
elif day == "Sabado":
    print("Hoy es sabado y descanso")
elif day == "Domingo":
    print("Hoy es domingo y descanso")
else:
    print("No es un dia de la semana valido")

Hoy es sabado y descanso

In [ ]:
#Estructuras de datos
# Listas
# lista son colleciones de datos que pueden ser de diferentes tipos
name_list = ["Josefino", "Primero", "Segundo", 25, 30.5, True, False]

In [30]:
name_list

['Josefino', 'Primero', 'Segundo', 25, 30.5, True, False]

In [3]:
name_list2 = [
            "Josefino",
            "Primero",
            "Segundo",
            "tercero",
            "cuarto",
            ]

In [4]:
name_list2

['Josefino', 'Primero', 'Segundo', 'tercero', 'cuarto']

In [ ]:
# Indices de las listas
# 0 1 2 3 4 5

#    0          1           2          3            4    de izquierda a derecha desde el primero al ultimo
#   -5          -4          -3          -2          -1   de derecha a izquierda desde el ultimo al primero compienza en -1
#  ["Josefino", "Primero", "Segundo", "tercero", "cuarto"]

In [18]:
name_list2[0]

'Josefino'

In [19]:
name_list2[-1]

'cuarto'

In [7]:
#Obtener un slice de la lista
# [inicio:fin:salto]
name_list2[0:3] #desde el 0 al 3 sin incluir el 3
name_list2[0:4] #desde el 0 al 4 sin incluir el 4

['Josefino', 'Primero', 'Segundo', 'tercero']

In [ ]:
# metedos de las listas
# append() agrega un elemento al final de la lista
name_list2.append("quinto")

In [8]:
# Metodo len, longitud de la lista
len(name_list2)

5

In [9]:
name_list2.count("Josefino") # cuenta cuantas veces aparece un elemento en la lista

1

In [10]:
# ciclos finitos
# for i in range(10):   
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
# diccionarios en python    
# son colecciones de datos que se almacenan en pares clave:valor

# ejemplo de diccionarios
person = {
    "name": "josefino",
    "last_name": "primero",
    "age": 25,
    "is_student": True,
    "courses": ["python", "Django", "JavaScript"] 
}

In [22]:
person["name"]

'josefino'

In [23]:
person["age"]

25

In [ ]:
# tuplas en python
# son colecciones de datos inmutables, es decir, no se pueden modificar una vez creadas
# ejemplo de tuplas
# las tuplas se definen con paréntesis ()
person_tuple = (
                "Josefino", 
                "Primero",
                25,
                True,)

In [25]:
person_tuple2 = (
    "Josefino", 
    "Primero",
    25,
    True,)

In [28]:
person_tuple[0]

'Josefino'

In [ ]:
# ciclos finitos

In [20]:
# ciclo for en phyton
# for variable in iterable:

names = ["Juan", "Pedro", "Maria", "Ana"]

for name in names:
    # print(f"Hola {name}, bienvenido al curso de Python")       
    print(name)

Juan
Pedro
Maria
Ana

In [21]:
names.append("Jose")

In [22]:
names

['Juan', 'Pedro', 'Maria', 'Ana', 'Jose']

In [24]:
count = 0
for name in names:
    count = count + 1
    if name == "Ana":
        print(f"Hola Ana, after {count} iterations")
        print(count)
        break

Hola Ana, after 4 iterations
4

In [25]:
len(names)

5

In [26]:
# Funciones en Python
def saludos():
    print("Hola, bienvenido al curso de Python")
    print("Espero que disfrutes el curso")

In [27]:
saludos()# Funcion con parametros

Hola, bienvenido al curso de Python
Espero que disfrutes el curso

In [28]:
#funcion para saludar a una persona
def saludar_persona(nombre):
    print(f"Hola {nombre}, bienvenido al curso de Python")

In [29]:
saludar_persona("Juan")

Hola Juan, bienvenido al curso de Python

In [1]:
# Funcion para nobre y apellido
def saludar_completo(nombre, apellido):
    print(f"Hola {nombre} {apellido}, bienvenido al curso de Python")

In [ ]:
Saludar_completo = "Juan" , "Perez"

In [2]:
saludar_completo(apellido="Primero" , nombre="Josefino")
# Funcion con retorno de valor

Hola Josefino Primero, bienvenido al curso de Python

In [3]:
# Funcion para nobre y apellido con parametros por defecto
def saludar_completo2(nombre="fulano", apellido="De tal"):
    print(f"Hola {nombre} {apellido}, bienvenido al curso de Python")

In [5]:
saludar_completo2("Josefino")

Hola Josefino De tal, bienvenido al curso de Python

In [ ]:
# diccionarios en python    
# son colecciones de datos que se almacenan en pares clave:valor

# ejemplo de diccionarios
person = {
    "name": "josefino",
    "last_name": "primero",
    "age": 25,
    "is_student": True,
    "courses": ["python", "Django", "JavaScript"] 
}